.select-details {
  background-color: white;
  display: flex;
  flex-direction: column;

  .select-details-select {
    display: flex;
    min-height: 20px;
  }

  .select-details-content {
    overflow: auto;
    padding: 5px;
  }

  .select-details-field {
    padding-bottom: 5px;
    &:hover {
      background-color: #cce8ff;
    }
  }

  .select-details-name {
    color: gray;
  }

  .select-details-value {
    margin-left: 5px;
    color: black;
  }
}